* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    background-image: url(../Images/so-white.png);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background: #ffffff;
    position: fixed;
    top: 0;
    width: 100vw;
    border-bottom: 1px solid #cccccc;
}

.About {
    border-right: 1px solid #cccccc;
}

.Portfolio {
    border-right: 1px solid #cccccc;
}

#header {
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#name {
    padding: 20px 25px 20px 25px;
    text-align: center;
    background: #4aaaa5;
    color: white;
    display:inline-block; 
}

#links {
    float: right;
}

.links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
    text-decoration: none;
    padding: 0 10px 0 10px;

}

section {
    width: 960px;
    margin: 0 auto;
    background: #ffffff;
    box-sizing: border-box;
    padding: 0px 20px 20px 20px;
    position: relative;
    top: 100px;
    color: #777777;
    border: 1px solid #dddddd;
}

#contact {
    padding-top: 16px;
    padding-bottom: 10px;
    color: #4aaaa5;
}

form {
    padding-top: 20px;
    line-height: 1.5;
}

.name {
    width: 100%;
    padding: 7px 0px;
    margin-bottom: 10px;
}

.email {
    width: 100%;
    padding: 7px 0px;
    margin-bottom: 10px;
}

.message {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

input[type=submit] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
}

input::placeholder {
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#footerline {
    border: 5px solid #4aaaa5;
    position: fixed;
    bottom: 48px;
    width: 100vw;
}

footer {
    background: #666666;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 5px;
    color: white;
}