html {
    min-height: 100%;
}

body {
    background: gray;
    margin: 0;
    min-height: 100vh;
}

header {
    background: white;
    position: fixed;
    top: 0;
    width: 100vw;
}

#name {
    margin: 0 0 0 125px;
    padding: 20px 25px 20px 25px;
    text-align: center;
    background: teal;
    color: white;
    display:inline-block; 
}

.links {
    float: right;
}

section {
    /* how to stop from moving up and down */
    width: 960px;
    margin: 0 auto;
    background: white;
    box-sizing: border-box;
    padding: 0px 20px 20px 20px;
    position: relative;
    top: 100px;
}

#portfolio {
    padding-top: 16px;
    color: teal;
}

.img {
    width: 200px;
    height: 150px;
    margin: 20px;
}

.gallery {
    position: relative;
    text-align: center;
    color: white;
}

#Hangman {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footerline {
    border: 5px solid teal;
    position: fixed;
    bottom: 35px;
    width: 100vw;
}

footer {
    background: darkgray;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    padding-top: 30px;
}